// ========================== //
//           PAGE             //
// ========================== //

@use "../base" as *;

/*--START LAYOUT--------------------*/
.page {
  @include grid(auto, auto 50px, $ss-6);
  @include container(sm, $ss-6);
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  padding-top: $ss-15;
  background: url("/images/bg-pattern-top-mobile.svg") top left no-repeat,
    url("/images/bg-pattern-bottom-mobile.svg") bottom right no-repeat;
  background-size: 50% 50%, 50% 50%;

  &__main {
    @include grid($gap: $ss-10);

    &-socials {
      @include grid($gap: $ss-4);
    }
  }

  @include mq(min, md) {
    background: url("/images/bg-pattern-top-desktop.svg") top left no-repeat,
      url("/images/bg-pattern-bottom-desktop.svg") bottom right no-repeat;
    @include container(xl, $ss-5);

    &__main {
      &-socials {
        @include grid(repeat(3, 1fr));
        padding: $ss-4;
      }
    }
  }
}

/*--END LAYOUT--------------------*/
/*--START SECTION INTRO-----------*/
.intro {
  @include grid($gap: $ss-6);
  text-align: center;

  &__header {
    @include grid($gap: $ss-4);
  }

  &__title {
    @include font-style(38, bold);
    color: $theme-primary-100;
  }

  &__text {
    @include font-style(18, medium, sm);
    margin-bottom: $ss-6;
    color: $theme-neutral-300;
  }

  &__review {
    @include grid($gap: $ss-4);
  }

  &__rated {
    @include grid($gap: $ss-3);
    padding: $ss-4;
    background-color: $theme-neutral-200;
    border-radius: $ss-2;
  }

  &__stars {
    @include flex(row, center, null, $ss-3);
  }

  &__rate {
    color: $theme-primary-100;
  }

  @include mq(min, md) {
    @include grid(1fr 1fr);
    padding: $ss-6;

    &__header {
      @include grid(repeat(5, 1fr), 1fr 1fr, $ss-6);
      text-align: start;
    }

    &__title {
      grid-column: span 4;
      @include font-style(52);
    }

    &__text {
      grid-column: span 4;
      grid-row: 2;
    }

    &__review {
      @include grid($rows: repeat(3, 1fr), $gap: $ss-6);
      padding-block: $ss-4;

      &> :nth-last-child(3) {
        margin-right: auto;
      }

      &> :nth-last-child(2) {
        margin-inline: auto;
      }

      &> :nth-last-child(1) {
        margin-left: auto;
      }
    }

    &__rated {
      @include grid(auto 1fr);
      align-items: center;
    }

    &__stars {
      margin-right: auto;
    }
  }
}

/*--END SECTION INTRO-----------*/

/*--START FOOTER-----------*/
.footer {
  &__attribution {
    @include font-style(12, regular);
    color: $theme-primary-100;
    text-align: center;
  }

  &__link {
    color: $theme-neutral-300;
    text-decoration: none;

    &:hover {
      color: $theme-primary-200;
    }
  }
}

/*--END FOOTER--------------------*/